body {
    background-color: #f7f7f7 !important;
}
#mainDiv {
    min-height: 100vh;
    background-color: white;
}
.buttonAsAnchor {
    background: none;
    border: none;
}
.invalidInput {
    border: solid 1px #d9534f !important;
}
.invalidValueMessage {
    color: #d9534f;
}
.rightAnswer {
    background-color: #5cb85c;
    color: white;
}
.wrongAnswer {
    background-color: #d9534f;
    color: white;
}